@page "/factorial"
@rendermode InteractiveServer

<h3>Factorial</h3>

< type="number" name="factorial" min="0" max="20" @bint="n" @bind:event="onchange" @onclick="Calculate"/>
<label for="factorial" style="font-size:24px;">! = @factorial</label>

@code 
{
	long factorial{ get; set; } = 1;
	void Calculate()
	{
		factorial = 1;
		for (int i = 1; i <= 5; i++)
		{
			factorial *= i;
		}
	}
}
