@page "/teachers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademy.Models
@using BlazorAcademy.Components.Pages
@using BlazorAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="teachers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Teachers">
    <PropertyColumn Sortable="true" Title="Фамилия" Property="teachers => teachers.last_name" />
    <PropertyColumn Sortable="true" Title="Имя" Property="teachers => teachers.first_name" />
    <PropertyColumn Sortable="true" Title="Отчество" Property="teachers => teachers.middle_name" />
    <PropertyColumn Sortable="true" Format="yyyy.MM.dd" Title="Дата рождения" Property="teachers => teachers.birth_date"/>
    <PropertyColumn Sortable="true" Title="E-mail" Property="teachers => teachers.email" />
    <PropertyColumn Sortable="true" Title="Телефон" Property="teachers => teachers.phone" />
    <PropertyColumn Sortable="true" Title="Работает с" Property="teachers => teachers.work_since" />
    <PropertyColumn Sortable="true" Title="Ставка за пару" Property="teachers => teachers.rate" />
    @* <PropertyColumn Property="teachers => teachers.photo" /> *@

    <TemplateColumn Context="teachers">
        <a href="@($"teachers/edit?teacher_id={teachers.teacher_id}")">Edit</a> |
        <a href="@($"teachers/details?teacher_id={teachers.teacher_id}")">Details</a> |
        <a href="@($"teachers/delete?teacher_id={teachers.teacher_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
